html, body {
    display: flex;
    height: 100%;
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;  
    border: 10px double indigo;
    border-radius: 10px;
    background-color: dodgerblue;
}

#buttons-div {
    display: flex;
    justify-items: center;
    align-content: center;

    gap: 10px;
}

button {
  padding: 10px 20px;
  border-color: dodgerblue;
  border-radius: 10px;
  background-color: indigo;
  color: white;
}

.hidden {
    display: none;
}

#fretboard-div {
    display: flex;
    flex-direction: column;
    background-color:sienna;
    border-radius: 10px;
    border: 10px solid black;
    margin: 10px;
}

#fretboard-display {
    border-top: solid 5px black;
    border-bottom: solid 5px black;   
}

.string {
    display: flex;
    position: relative;
    height: 50px;
}
  
.string-line {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 3px;
    background-color: black;
    transform: translateY(-50%);
}

.fret {
    width: 50px;
    height: 50px;
    border-right: 5px inset goldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.note {
    background-color:cornflowerblue;
    color: white;

    width: 25px;
    height: 25px;
    border-radius: 50%;

    text-align: center;
    z-index: 2;
}

#chord-search-div {
    display: none;
    flex-direction: row;
    align-items: center;
    background-color: gray;
    border-radius: 10px;
    border: 10px solid black;
    margin: 10px;
    padding: 10px;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "title title title"
        "form img img"
        "form img img";
}

#chord-search-div > h3 {
    grid-area: title;
}

#image-container {
    grid-area: img;
}

form {
    grid-area: form;

    display: flex;
    flex-direction: column;

    border: 5px solid goldenrod;
    border-radius: 10px;
    padding: 5px;

    gap: 5px;

    height: 100%;
}

select {
    border-radius: 5px;
    border: solid black 1px;    
    background-color: cadetblue;
    color:aquamarine;
    text-align: center;
    height: 50%;
    font-size: larger;
}


#chord-search-div, #fretboard-div {
    min-width: 600px;
    min-height: 400px;
}

#form-submit-btn {
    height: 25%;
    font-size: larger;
    border-radius: 10px;
}

#select-output-div {
    display: flex;
}

#select-output-div > h4 {
    width: 50%;
}